.card{
     margin: 1.5rem;
     padding: .5rem;
     height: 20rem;
     width: 17rem;
     border-radius: .3rem;
     background-color: rgb(152, 120, 182);
     text-align: center;
     
}
.card-image img{
     height: 200px;
     width: 200px;
     border-radius: .4rem;
}
.card-text h3{
     color:#fff ;
     padding: .3rem;
}
.card-text p4{
     padding: .3rem;
}
.card-text button{
     padding: .2rem;
     margin: .3rem;
}